name: Java CI with Maven

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        env:
          FATSECRET_ID: ${{ secrets.FATSECRET_ID }}
          FATSECRET_SECRET: ${{ secrets.FATSECRET_SECRET }}
        run: mvn -B package --file backend/pom.xml
      - name: Show public IP address
        run: curl https://ipinfo.io/ip